<a href="https://colab.research.google.com/github/NguyenPhuong20042005/phuongcolad/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given 5 variables: a = 10; b = “Hello”; c = 3.14; d = [1,2,3]; e = (1,2,3), what are their data types? (hint: using type() built-in function) Perform using string formatting (using f-Strings) and print.

In [ ]:
a = 10 #<class 'int'>
b = "Hello" #<class 'str'>
c = 3.14 #<class 'float'>
d = [1, 2, 3] #<class 'list'>
e = (1, 2, 3) #<class 'tuple'>

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>

2. Function with 2 variables, name and age to print out this sentence: "My name is Dan, and I am 18 years old.".

In [ ]:
name = "Phuong"
age = 20

print(f"My name is {name}, and I am {age} years old.");

My name is Phuong, and I am 20 years old.